.popup__close-button {
    background: url('../../../images/close-button.svg');
    width: 32px;
    height: 32px;
    border: none;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    border-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transition: opacity .5s ease;
}

.popup__close-button:hover {
    opacity: 0.6;
  }
  

@media screen and (max-width: 680px) {
    .popup__close-button {
      width: 20px;
      height: 20px;
      right: 0;
      top: -36px;
    }
  }