.form__input-error {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  min-height: 30px;
  color: red;
  visibility: hidden;
  margin-left: 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 568px) {
    .form__input-error {
        margin-left: 22px;
    }
}

.fform__input-error:last-child {
    margin-bottom: 0;
}